body{    
    height: 100%;
    width: 100%;
    margin:20px;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#container{
    margin:auto;
    padding:0;
    max-width: 800px;
    height: 150px;
    border:2px inset #7303ced2;
    border-radius: 5px;
    cursor:crosshair;
    background:linear-gradient(#edd6ffd2, #ce99fad2) ;
}

ul{
    list-style: none;
    padding: 0;
}

button{
    background-color: #7303ced2;
    color:#fff;
    cursor:cell;
    height: 40px;
    border-radius: 100px;
    border:2px solid #000;
    
}

button:hover{
    background-color: #ffae00;
    color:#000;
}

